.all-gifts{
	margin: 50px 0;
	position: relative;
	&--8{
		.all-gifts__header{
			&:after{
				background-image: url("../img/8/h1_back.svg");
			}
		}
		.all-gifts__title {
			span,a{
				color: #E5457B;

			}
		}
		.all-gifts__link {

			background-color: #FAE6ED;
			border: 1px solid #FAE6ED;

		}
		.all-gifts__btn {
			background-color: #FAE6ED;
			border: 1px solid #FAE6ED;

		}
	}
	&__header{
		margin-bottom: 30px;
		position: relative;
		padding-bottom: 40px;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url("../img/23/h1_back.svg");
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 42px;
		}
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		color: #333;
		span,a{
			color: #7C7F33;
			text-decoration: none;

		}
	}
	&__link {
		position: absolute;
		top: 8px;
		right: 0;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #555;
		opacity: 0.7;
		display: block;
		z-index: 1;
		padding: 10px 25px;
		text-decoration: none;
		background-color: #E5E5CF;
		border: 1px solid #E5E5CF;
		border-radius: 4px;
		&:hover{
			background-color: #fff;
		}

	}
	@include r(767){
		&__header{

			&:after{

				height: 30px;
			}
		}
		&__title {
			font-size: 28px;
			line-height: 36px;
			span{
				display: block;
			}
		}
		&__link {
			display: none;

		}
	}
}