.article {
	margin: 40px 0;
	padding: 20px 0 60px;
	overflow: hidden;

	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 14px;
		left: 50%;
		transform: translate(-50%,0);
		background-image: url("../img/23/ideas_back.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 1920px;
		height: 480px;
	}
	&--8{
		&:after{
			display: none;
		}
		.article__header{
			&:after{
				background-image: url("../img/8/h1_back.svg");
			}
		}
		.article__title {
			span,a{
				color: #E6457B;
				text-decoration: none;

			}
		}
		.article__link {

			background-color: #FAE6ED;
			border: 1px solid #FAE6ED;

		}
		.article__btn {
			background-color: #FAE6ED;
			border: 1px solid #FAE6ED;

		}
	}
	&__header{
		margin-bottom: 30px;
		position: relative;
		padding-bottom: 40px;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url("../img/23/h1_back.svg");
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 42px;
		}
	}
	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		color: #333;
		span,a{
			color: #7C7F33;
			text-decoration: none;

		}
	}
	&__body{

	}
	&__item{
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		margin: 0 auto;
		text-decoration: none;
	}
	&__img{
		img{
			max-width: 100%;
			height: auto;
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}
	&__txt{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 16px 21px;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__name{
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		text-decoration-line: underline;
		color: #FFFFFF;
		margin-bottom: 10px;
		position: relative;
		z-index: 1;
	}
	&__anons{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		position: relative;
		z-index: 1;
	}
	.swiper-pagination {
		position: relative;
		bottom: 0;
		margin: 20px auto;
	}
	.swiper-pagination-bullet{
		background-color: #E5457B;
		vertical-align: middle;
		opacity: .4;
	}
	.swiper-pagination-bullet-active{
		width: 10px;
		height: 10px;
		opacity: 1;
	}
	@include r(767){
		padding: 0;
		&:after{
			display: none;
		}
		&__header{
			margin-bottom: 30px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background-image: url("../img/23/h1_back.svg");
				background-position: center;
				background-size: cover;
				width: 100%;
				height:30px;
			}
		}
		&__title {
			font-size: 28px;
			line-height: 36px;
			span,a{
				display: block;
			}
		}
		&__body{
			grid-template-columns: 1fr;
		}
		&__img{
			margin-bottom: 11px;
		}
		&__txt{
			position: relative;
			padding: 0;
			background: none;
		}
		&__name{
			font-weight: bold;
			font-size: 18px;
			line-height: 23px;
			text-decoration-line: underline;
			color: #333333;
		}
		&__anons{
			font-size: 14px;
			line-height: 23px;
			text-decoration-line: none;
			color: #333333;
		}
	}
}